@model UndergraduateViewModel

<h1>Welcome to Undergraduate Programs Page</h1>

<div class="row">
    @if (Model.undergraduate != null && Model.undergraduate.Any())
    {
        @foreach (var undergrad in Model.undergraduate)
        {
            <div class="col-sm-12 col-lg-12 col-md-12 program">
                <h2>@undergrad.title</h2>
                <p>@undergrad.description</p>

                <h3>Concentrations:</h3>
                <ul>
                    @foreach (var concentration in undergrad.concentrations)
                    {
                        <li>@concentration</li>
                    }
                </ul>
            </div>
        }
    }
    else
    {
        <div class="col-sm-12 col-lg-12 col-md-12 program">
            <h4>No undergraduate programs available</h4>
        </div>
    }
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".program").each(function (index) {
                $(this).hide().delay(400 * index).fadeIn(1000);
            });
        });
    </script>
}

<style>
    .program {
        background-color: #f76902;
        color: white;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
</style>
